@font-face {
	font-family: 'Dosis';
	src: url('fonts/Dosis-SemiBold.ttf');
}

@font-face {
	font-family: 'OpenSans';
	src: url('fonts/OpenSans-SemiBold.ttf');
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #32343C;
}

h1 {
	font-family: Dosis;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 200;
	line-height: 16px;
	user-select: none;
}

h2 {
	font-family: OpenSans;
	font-size: 12px;
	font-weight: 200;
	user-select: none;
}

p {
	font-family: OpenSans;
	font-size: 9px;
	font-weight: 200;
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.panel {
	background-color: #5A5E6B;
	border: 1px solid #32343C;
	border-radius: 4px;
	padding: 8px 16px;
	min-height: 32px;
	width: 100%;
}

.panel h1 {
	color: #E0E2EB;
}

.panel h2 p {
	color: #C1C5D2;
}

.flex1 {
	flex: 1;
}

.main_area {
	display: flex;
	width: 100%;
}

.left_column {
	display: flex;
	flex-direction: column;
	width: 256px;
	min-height: 100%;
	background-color: #32343C;
}

.right_column {
	display: flex;
	flex-direction: column;
	width: 320px;
	min-height: 100%;
	background-color: #32343C;
}

.workspace {
	flex: 1;
	display: inline-block;
	min-height: 100%;
	background-color: #757989;
	border: 1px solid #32343C;
	border-radius: 4px;
	padding: 8px 16px;
}

.header {
	width: 100vw;
	-webkit-app-region: drag;
}

.footer {
	width: 100vw;
}

.separator {
	border-width: 1px;
	border-style: solid;
	border-color: #32343C rgba(0, 0, 0, 0) #757989 rgba(0, 0, 0, 0);
	min-width: 100%;
	margin: 6px 0px 16px 0px;
}

.window {
	background-color: #32343C;
    border: 1px solid #32343C;
    border-radius: 2px;
	overflow-y: auto;
}

.h224 {
	max-height: 224px;
}

.h320 {
	max-height: 320px;
}

.h_m80 {
	min-height: calc(100% - 80px);
	max-height: calc(100% - 80px);
}

.tool {
	opacity: 0.5;
	margin-right: 8px;
}

.tool:hover {
	opacity: 0.75;
}

.tool.selected {
	opacity: 1;
}

.add_btn {
	opacity: 0.5;
	float: right;
	margin: -20px -8px 0 0;
}

.add_btn:hover {
	opacity: 1;
}

.delete_btn {
	opacity: 0.5;
    float: left;
    margin-top: 10px;
}

.delete_btn:hover {
	opacity: 1;
}

.window_panel {
	user-select: none;
    background-color: #757989;
    border: 1px solid #32343C;
    border-radius: 2px;
}

.window_panel.selected {
	background-color: #C1C5D2;
	transition: 200ms;
}

.layer_panel {
	min-height: 32px;
    padding: 6px;
}

.layer_icon {
	float: left;
    width: 16px;
}

.layer_name {
	color: white;
    margin: 2px 8px;
    float: left;
}

.level_panel {
	min-height: 24px;
    padding: 4px 12px;
}

.level_name {
	color: white;
    float: left;
}

.levels {
	max-height: calc(100vh - 384px);
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: #32343C;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: #757989;
	border: 1px solid #32343C;
	border-radius: 2px;
}

::-webkit-scrollbar-corner {
	background-color: #32343C;
}