/* FONTS */

@font-face {
	font-family: 'Dosis';
	src: url('fonts/Dosis-SemiBold.ttf');
}

@font-face {
	font-family: 'OpenSans';
	src: url('fonts/OpenSans-SemiBold.ttf');
}

/* GLOBAL */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #32343C;
}

h1 {
	font-family: Dosis;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 200;
	line-height: 16px;
	user-select: none;
}

h2 {
	font-family: OpenSans;
	font-size: 12px;
	font-weight: 200;
	user-select: none;
}

p {
	font-family: OpenSans;
	font-size: 9px;
	font-weight: 200;
}

input {
	font-family: OpenSans;
	padding: 6px 8px;
	background-color: #E0E2EB;
	color: #32343C;
	border-color: #32343C;
	border-radius: 2px;
	height: 24px;
}

input:focus {
	background-color: white;
}

select {
	font-family: OpenSans;
	padding: 6px 8px;
	background-color: #E0E2EB;
	color: #32343C;
	border-color: #32343C;
	border-radius: 2px;
	height: 24px;
}

select:focus {
	background-color: white;
}

button {
	font-family: OpenSans;
	color: white;
	background-color: #757989;
	text-align: center;
	vertical-align: middle;
	height: 32px;
	border-color: #32343C;
	border-radius: 2px;
}

button:disabled {
	background-color: #5A5E6B;
	color: #757989;
}

button:hover:enabled {
	background-color: #C1C5D2;
	transition: 200ms;
}

button.red:enabled {
	background-color:rgba(233, 48, 79, 0.25);
}

button.red:hover:enabled {
	background-color:rgba(233, 48, 79, 1);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #32343C;
}

::-webkit-scrollbar-thumb {
	background-color: #757989;
	border: 1px solid #32343C;
	border-radius: 2px;
}

::-webkit-scrollbar-corner {
	background-color: #32343C;
}

/* DIVS */
.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-height: 100vh;
}

.panel {
	background-color: #5A5E6B;
	border: 1px solid #32343C;
	border-radius: 4px;
	padding: 8px 16px;
	min-height: 32px;
	width: 100%;
	color: #C1C5D2;
}

.panel h1 {
	color: #E0E2EB;
}

.panel h2 p {
	color: #C1C5D2;
}

.flex1 {
	flex: 1;
}

.main_area {
	display: flex;
	width: 100%;
}

.left_column {
	display: flex;
	flex-direction: column;
	width: 256px;
	min-height: 100%;
	background-color: #32343C;
}

.right_column {
	display: flex;
	flex-direction: column;
	width: 320px;
	min-height: 100%;
	background-color: #32343C;
}

.workspace {
	flex: 1;
	display: flex;
	min-height: 100%;
	background-color: #757989;
	border: 1px solid #32343C;
	border-radius: 4px;
	padding: 8px 16px;
	overflow: auto;
}

.header {
	width: 100vw;
	-webkit-app-region: drag;
}

.footer {
	width: 100vw;
}

.separator {
	border-width: 1px;
	border-style: solid;
	border-color: #32343C rgba(0, 0, 0, 0) #757989 rgba(0, 0, 0, 0);
	min-width: 100%;
	margin: 6px 0px 16px 0px;
}

.window {
	background-color: #32343C;
    border: 1px solid #32343C;
    border-radius: 2px;
	overflow-y: auto;
}

.h_m80 {
	min-height: calc(100% - 80px);
	max-height: calc(100% - 80px);
}

.tool {
	opacity: 0.5;
	margin-right: 8px;
}

.tool:hover {
	opacity: 0.75;
}

.tool.selected {
	opacity: 1;
}

.btn {
	opacity: 0.5;
}

.btn:hover {
	opacity: 1;
}

.btn_tr {
	float: right;
	margin: -20px -8px 0 0;
}

.btn_bl {
	float: left;
	margin-top: 10px;
}

.window_panel {
	user-select: none;
    background-color: #757989;
    border: 1px solid #32343C;
    border-radius: 2px;
}

.window_panel.selected {
	background-color: #C1C5D2;
	transition: 200ms;
}

.layer_panel {
	min-height: 32px;
    padding: 6px 12px;
}

.layer_icon {
	float: left;
    width: 16px;
}

.layer_name {
	color: white;
    margin: 2px 8px;
    float: left;
}

.level_panel {
	min-height: 24px;
    padding: 4px 12px;
}

.level_name {
	color: white;
    float: left;
}

.full_width {
	width: 100%;
}

.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.4);
}

.modal_content {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}

.workspace_tile_container {
	border: 2px solid #C1C5D2;
	overflow: hidden;
	margin: auto;
	box-sizing: content-box;
}

.workspace_row {
	display: flex;
	flex-direction: row;
}

.workspace_tile {
	float:left;
	border-top: 0.5px dashed rgba(193, 197, 210, 0.25);
	border-left: 0.5px dashed rgba(193, 197, 210, 0.25);
	border-right: 0.5px dashed rgba(193, 197, 210, 0.5);
	border-bottom: 0.5px dashed rgba(193, 197, 210, 0.5);
	margin: 0;
}

/* BY ID */

#layers {
	max-height: 320px;
}

#tile_selection_window {
	height: calc(100% - 128px);
	overflow: auto;
}